apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: edge-ingress
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    chart: ingress-nginx
    targetRevision: 4.11.2
    helm:
      values: |
        controller:
          replicaCount: 1
          ingressClassResource:
            name: nginx
            controllerValue: k8s.io/ingress-nginx
            default: true
          service:
            type: LoadBalancer
            annotations:
              metallb.universe.tf/address-pool: public-pool
              external-dns.alpha.kubernetes.io/hostname: "magento.k8s.bdgyoo.com,bdgy.k8s.bdgyoo.com"
          config:
            use-forwarded-headers: "true"
            enable-real-ip: "true"
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - ApplyOutOfSyncOnly=true
