image:
  web:
    repository: ghcr.io/ellistondow/kubemage-web
    tag: bdgy-0.1.3
  php:
    repository: ghcr.io/ellistondow/kubemage-php
    tag: bdgy-0.1.3
  cron:
    repository: ghcr.io/ellistondow/kubemage-cron
    tag: bdgy-0.1.3

env:
  baseUrl: https://bdgy.k8s.bdgyoo.com
  mysqlHost: percona.databases.svc.cluster.local
  rabbitmqHost: rabbitmq.messaging.svc.cluster.local
  redisHost: valkey.cache.svc.cluster.local
  mediaBucket: s3://bdgy-media
  openSearchHost: opensearch.search.svc.cluster.local
  openSearchPort: 9200

remoteStorage:
  driver: aws-s3
  bucket: bdgy-media
  region: us-east-1
  prefix: media
  endpoint: http://minio.object-storage.svc.cluster.local:9000
  usePathStyle: true

storage:
  generated:
    enabled: true
    size: 2Gi
    accessMode: ReadWriteOnce
  varDi:
    enabled: true
    size: 2Gi
    accessMode: ReadWriteOnce
  pubStatic:
    enabled: true
    size: 4Gi
    accessMode: ReadWriteOnce

varnish:
  enabled: true
  configSecret: ""
  serviceName: varnish
  servicePort: 6081
  purgeCIDRs:
    - 10.0.0.0/8

consumers:
  enabled: true
  list:
    - name: async-bulk
      queue: async.operations.all
      maxMessages: 1000
    - name: product-attr-update
      queue: product_action_attribute.update
      maxMessages: 500
    - name: product-attr-website
      queue: product_action_attribute.website.update
      maxMessages: 500
    - name: catalog-website-attr-sync
      queue: catalog_website_attribute_value_sync
      maxMessages: 500
    - name: export-processor
      queue: exportProcessor
      maxMessages: 200
    - name: inventory-mass-update
      queue: inventory.mass.update
      maxMessages: 500
    - name: inventory-source-items-cleanup
      queue: inventory.source.items.cleanup
      maxMessages: 200
    - name: inventory-reservations-update
      queue: inventory.reservations.update
      maxMessages: 500
    - name: inventory-reservations-cleanup
      queue: inventory.reservations.cleanup
      maxMessages: 200
    - name: inventory-reservations-update-salability
      queue: inventory.reservations.updateSalabilityStatus
      maxMessages: 200
    - name: inventory-indexer-source
      queue: inventory.indexer.sourceItem
      maxMessages: 500
    - name: inventory-indexer-stock
      queue: inventory.indexer.stock
      maxMessages: 500
    - name: media-image-resize
      queue: media.storage.catalog.image.resize
      maxMessages: 200
    - name: media-content-sync
      queue: media.content.synchronization
      maxMessages: 200
    - name: media-gallery-sync
      queue: media.gallery.synchronization
      maxMessages: 200
    - name: media-gallery-renditions
      queue: media.gallery.renditions.update
      maxMessages: 200
    - name: sales-rule-quote
      queue: sales.rule.quote.trigger.recollect
      maxMessages: 200
    - name: sales-rule-coupon
      queue: sales.rule.update.coupon.usage
      maxMessages: 200
    - name: product-alert
      queue: product_alert
      maxMessages: 200
    - name: save-config
      queue: saveConfigProcessor
      maxMessages: 200
    - name: codegenerator
      queue: codegeneratorProcessor
      maxMessages: 200

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/proxy-buffer-size: 512k
    nginx.ingress.kubernetes.io/proxy-buffers-number: "32"
  hosts:
    - host: bdgy.k8s.bdgyoo.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: bdgy-k8s-bdgyoo-com-tls
      hosts:
        - bdgy.k8s.bdgyoo.com

redis:
  databases:
    cache: 2
    fpc: 3
    session: 4
    page_cache: 5

secrets:
  create: true
  name: bdgy-magento-secrets
  mysqlUser: ENC[AES256_GCM,data:HrGNn+4tNw==,iv:7FQukBS95QTbrcVhfTcbVtO1xICqeMFl9MEG0g+jkb8=,tag:Jv2Nm19ZAIoWDueu0pROlQ==,type:str]
  mysqlPassword: ENC[AES256_GCM,data:zJHaohhA16syKboV,iv:GIy6wInKU5TquV+9r2Z4RhwtVtOmKkb5SJz4vH3v6/A=,tag:KU9ZKhtcFqeMN7fRaVpxrw==,type:str]
  mysqlRoot: ENC[AES256_GCM,data:S+qnXniIRfY0UEQ4bQofRQ==,iv:/5mqDjSYHjPj0NEygAz02X4+PqRz+RenKomoakEBIOU=,tag:BCq/0Jr1fH6Dj7Z4wBiYbg==,type:str]
  rabbitmqPassword: ENC[AES256_GCM,data:Z/XWnBH8Ew4NlRw=,iv:k721CiyoYz66Xqwokc0uS1sMISn0nYocZPcW/KhneCU=,tag:bx5gCvVy7Tohot/ApecWjA==,type:str]
  redisPassword: ENC[AES256_GCM,data:o6I+ghH/KnOX2n32FQ==,iv:pKMQlYWD+kglZHOM5UUvBi4cxNtlV3FspPQPSJphGtk=,tag:22F4XM4a5GiCmB7F0r+7vA==,type:str]
  remoteStorageAccessKey: ENC[AES256_GCM,data:/3w9E3LR5qHi6K9UHw==,iv:Lx2xp1f5wBfBr9Mo3Pbebs6AyuGY97H+68OzaQgrXOk=,tag:ybTliFGRx+NTMYn9esqoCQ==,type:str]
  remoteStorageSecretKey: ENC[AES256_GCM,data:ezfxrwniPxgXhWF6s1KA+/TG2Ag=,iv:VAsyaMaTyh/vxLLrwXfkcaBLSkRq5S6SUsPyPMOFlSw=,tag:G0/blIbnOKXidgnHNBbNdw==,type:str]
