version: "3.9"

services:
  php-fpm:
    build:
      context: ..
      dockerfile: Dockerfile.php
      target: runtime
      args:
        SITE_PATH: app/sites/${SITE_DIR}
    restart: unless-stopped
    environment:
      PHP_IDE_CONFIG: serverName=${SITE_NAME}
    volumes:
      - ../app/sites/${SITE_DIR}:/var/www/html
    working_dir: /var/www/html
    networks:
      - backend
      - magento-shared

  cron:
    build:
      context: ..
      dockerfile: Dockerfile.cron
      args:
        SITE_PATH: app/sites/${SITE_DIR}
    restart: unless-stopped
    volumes:
      - ../app/sites/${SITE_DIR}:/var/www/html
    networks:
      - backend
      - magento-shared

  web:
    build:
      context: ..
      dockerfile: Dockerfile.web
    restart: unless-stopped
    volumes:
      - ../app/sites/${SITE_DIR}:/var/www/html:ro
      - ../infra/sites/${SITE_NAME}/nginx.conf:/etc/nginx/conf.d/magento.conf:ro
    depends_on:
      - php-fpm
    networks:
      - backend

  varnish:
    image: varnish:7.6
    restart: unless-stopped
    expose:
      - "6081"
    volumes:
      - ./varnish/default.vcl:/etc/varnish/default.vcl:ro
    command: ["varnishd", "-F", "-a", ":6081", "-f", "/etc/varnish/default.vcl", "-s", "malloc,256m"]
    depends_on:
      - web
    networks:
      backend:
      edge:
        aliases:
          - ${SITE_NAME}-varnish

networks:
  backend:
  magento-shared:
    external: true
    name: magento-shared
  edge:
    external: true
    name: magento-edge
