apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "magento.fullname" . }}-web
  labels:
    {{- include "magento.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount.web }}
  selector:
    matchLabels:
      app: {{ include "magento.fullname" . }}-web
  template:
    metadata:
      labels:
        app: {{ include "magento.fullname" . }}-web
        {{- include "magento.labels" . | nindent 8 }}
    spec:
      containers:
        - name: web
          image: "{{ .Values.image.web.repository }}:{{ .Values.image.web.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: {{ include "magento.fullname" . }}-env
          resources:
            {{- toYaml .Values.resources.web | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
