{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "magento.fullname" . }}
  labels:
    {{- include "magento.labels" . | nindent 4 }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 200m
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  tls:
    {{- toYaml .Values.ingress.tls | nindent 4 }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ if $.Values.varnish.enabled }}{{ $.Values.varnish.serviceName | default "varnish" }}{{ else }}{{ include "magento.fullname" $ }}-web{{ end }}
                port:
                  number: {{ if $.Values.varnish.enabled }}{{ $.Values.varnish.servicePort }}{{ else }}{{ $.Values.service.port }}{{ end }}
          {{- end }}
    {{- end }}
{{- end }}
