{{- $secrets := .Values.secrets | default dict -}}
{{- if (default true $secrets.create) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "magento.secretsName" . }}
  labels:
    {{- include "magento.labels" . | nindent 4 }}
type: Opaque
stringData:
  MYSQL_USER: {{ $secrets.mysqlUser | default "magento" | quote }}
  MYSQL_PASSWORD: {{ $secrets.mysqlPassword | default "changeme" | quote }}
  MYSQL_ROOT_PASSWORD: {{ $secrets.mysqlRoot | default "changeme-root" | quote }}
  RABBITMQ_PASSWORD: {{ $secrets.rabbitmqPassword | default "changeme-rmq" | quote }}
  REDIS_PASSWORD: {{ $secrets.redisPassword | default "changeme-redis" | quote }}
  REMOTE_STORAGE_ACCESS_KEY: {{ $secrets.remoteStorageAccessKey | default "" | quote }}
  REMOTE_STORAGE_SECRET_KEY: {{ $secrets.remoteStorageSecretKey | default "" | quote }}
{{- end }}
