apiVersion: v1
kind: Secret
metadata:
  name: {{ include "magento.fullname" . }}-secrets
  labels:
    {{- include "magento.labels" . | nindent 4 }}
type: Opaque
data:
  MYSQL_USER: {{ .Values.secrets.mysqlUser | default "bXlzcWw=" }}
  MYSQL_PASSWORD: {{ .Values.secrets.mysqlPassword | default "cGFzcw==" }}
  MYSQL_ROOT_PASSWORD: {{ .Values.secrets.mysqlRoot | default "cm9vdA==" }}
  RABBITMQ_PASSWORD: {{ .Values.secrets.rabbitmqPassword | default "cGFzcw==" }}
  REDIS_PASSWORD: {{ .Values.secrets.redisPassword | default "cGFzcw==" }}
