apiVersion: v1
kind: Service
metadata:
  name: {{ include "magento.fullname" . }}-web
  labels:
    {{- include "magento.labels" . | nindent 4 }}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: {{ include "magento.fullname" . }}-web
