prometheus:
  prometheusSpec:
    retention: 15d
    retentionSize: 100GiB
    replicas: 1
    enableAdminAPI: true
    additionalScrapeConfigs:
      - job_name: rabbitmq
        static_configs:
          - targets:
              - rabbitmq.monitoring.svc:15692
    thanos:
      image: quay.io/thanos/thanos:v0.34.0
      objectStorageConfig:
        existingSecret: thanos-object-storage
alertmanager:
  alertmanagerSpec:
    replicas: 2
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: fast-local-zfs
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
  config:
    global:
      resolve_timeout: 5m
    route:
      receiver: default
      routes:
        - match:
            severity: critical
          receiver: oncall
    receivers:
      - name: default
        webhook_configs:
          - url: https://hooks.slack.com/services/T000/B000/XXX
      - name: oncall
        pagerduty_configs:
          - routing_key: YOUR_PD_KEY
    inhibit_rules:
      - source_match:
          severity: critical
        target_match:
          severity: warning
        equal: [alertname]
grafana:
  adminPassword: "changeme"
  service:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/address-pool: public-pool
loki:
  enabled: false
