image:
  repository: ghcr.io/adobecommerce/magento-varnish
  tag: 7.6-2024.10
resources:
  requests:
    cpu: 1000m
    memory: 2Gi
  limits:
    cpu: 2000m
    memory: 4Gi
replicaCount: 2
service:
  type: ClusterIP
config:
  mountExistingSecret: true
  secretName: varnish-vcl
  defaultVCL: magento.vcl
  extraArgs:
    - "-p feature=+http2"
    - "-p thread_pools=4"
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
podDisruptionBudget:
  maxUnavailable: 1
hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
